body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px; margin: 0 auto; 
}
h1{text-align: center;
    
}
h2{
    border-bottom: 1px solid green;
}
div{
    border:1px solid rgba(128, 128, 128, 0.493);
    padding: 15px;
    margin: 0px 0px 0px 120px;
}
.color1{
color:green ;
}
.color2{
color: orange;
}
#lateral{
    float: left;
    width: 100px;
}